<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="icon" href="{% static "image/makara-ui-fasilkom.png" %}">
    <title>Perancangan dan Pemograman Web Story</title>
</head>
<body>

    <header class="navigation">
            {% block navigation %}
            {% endblock %}
        </header>

    {% block content %}
    {% endblock %}
    <footer class="contact" id="kontak">
            <ul class="icons">
                <li><a href="https://www.instagram.com/ariasenacahya/" target="_blank"> <img src="{% static "image/instagram (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://twitter.com/ddelvo45" target="_blank"> <img src="{% static "image/twitter (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://www.linkedin.com/in/ariasena-cahya-ramadhani-98388a179/" target="_blank"> <img src="{% static "image/linkedin.png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://steamcommunity.com/id/poopfodays/" target="_blank"> <img src="{% static "image/steam(1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
            </ul>
    </footer>
    <footer class="footer">
            <h1>2020 Faculty of Computer Science University of Indonesia</h1>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "jscript/app.js" %}"></script>
</body>
</html>