{% extends 'home/base.html' %}
{% load static %}
{% block navigation %}
    <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:matakuliah' %}">Mata Kuliah</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
{% endblock %}
{% block content %}
    <section class="container6">
       <header class="containerJudul">
            <h1>Apakah anda yakin ingin menghapus mata kuliah tersebut?</h1>
        </header>
        <section class="buttonContainer">
            <form action="{% url "home:hapusMatkul" item.id %}" method="POST">
                {% csrf_token %}
            <a href="{% url 'home:listmatkul' %}"><button type="button" >Tidak</button></a>
            <button type="button"><input type="submit" name="Yakin" id="deleteconfirm"></button>
            </form>
        </section>
    </section>
{% endblock %}