{% extends 'home/base.html' %}
{% load static %}

    {% block navigation %}
            <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:interests' %}">Interests</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
    {% endblock %}

    {% block content %}
    <section class="container2">
        <div class="judulminat">
            <h3>These are the things I love</h3>
        </div>

        <section class="minat1">
            <div class="minatgambar1">
                <img src="{% static "image/gaming.jpg" %}" class="gaming" alt="">
            </div>
            <div class="minatTulisan1">
                <p> I love playing games. I usually play a lot of gacha games and occasionally some MMORPGs. Right now I usually
                play Arknights and Genshin Impact. Both games are quite fun, especially Arknights that has an Interesting
                Mechanics. I also love playing sandbox games like Terarria.</p>
            </div>
        </section>

        <section class="minat2">

        </section>
    </section>

    {% endblock %}
