<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="icon" href="{% static "image/makara-ui-fasilkom.png" %}">
    <title>Perancangan dan Pemograman Web Story</title>
</head>
<body>

    <header class="navigation">
            <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="navbar-brand"><a href = "#aku">About</a></li>
                    <li class="navbar-brand"><a href = "#ilmu">Education</a></li>
                    <li class="navbar-brand"><a href = "#pengalaman">Experiences</a></li>
                    <li class="navbar-brand"><a href="#kemampuan">Skills</a> </li>
                    <li class="navbar-brand"><a href="#kontak">Contact</a> </li>
                    <li class="navbar-brand"><a href="{% url 'home:interests' %}">Interests</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
        </header>

        <section class="container1">
        <section class="landing" id="mendarat">
            <div class="center_text">
                <h1>Welcome to my website!</h1>
                <h2>Wanna know more about me?</h2>
            </div>
            <button class = "tombol1"><a href ="#aku">Click Here</a></button>
        </section>

        <section class="about" id="aku">
            <div class="foto2">
                <img src="{% static "image/sena.jpg" %}" class="sena" alt="">
            </div>
            <div class="akudanjudul">
                <div class="judul2"><p>About Me</p></div>
                <div class="tulisanaku">
                Hello! My Name is Ariasena Cahya Ramadhani. People often call me Sena. I am currently studying Computer Science at University of Indonesia. I love speaking with other people and also working as a team. I am interested in psychology and esports.
                </div>
            </div>

        </section>

        <section class="education" id="ilmu">
            <div class="foto3">
                <img src="{% static "image/pacil7.PNG" %}" class="fasilkom" alt="">
            </div>
            <div class="akudanjudul2">
                <div class="judul3"><div class="all_edu">
                    <div class="ui">
                        <p class="gelar">Bachelor of Computer Science</p>
                        <p class="institusi">University of Indonesia</p>
                    </div>
                    <div class="sma">
                        <p class="gelar">High School Diploma</p>
                        <p class="institusi">SMAN 99 Jakarta</p>
                    </div>
                    <div class="smp">
                        <p class="gelar">Middle School</p>
                        <p class="institusi">SMP Islam PB Soedirman</p>
                    </div>
                    <div class="sd">
                        <p class="gelar">Elementary School</p>
                        <p class="institusi">SD Islam PB Soedirman</p>
                    </div>
                </div></div>
                <div class="tulisanaku2">
                    Education
                </div>
            </div>
        </section>

        <section class="experiences" id="pengalaman">
            <div class="foto2">
                <img src="{% static "image/compe.jpg" %}" class="fasilkom" alt="">
            </div>
            <div class="akudanjudul">
                <div class="judul2"><p>Experiences</p>
                </div>
                <div class="pengalaman">
                    <div class="all_exp">
                         <div class="ui">
                             <p class="gelar">Human Resources Staff</p>
                             <p class="institusi">BEM Fasilkom UI</p>
                         </div>
                        <div class="sma">
                            <p class="gelar">Human Resources of Games and Competition</p>
                            <p class="institusi">Perak Fasilkom</p>
                        </div>
                        <div class="smp">
                            <p class="gelar">Indie Game Ignite Staff</p>
                            <p class="institusi">Compfest 12</p>
                        </div>
                        <div class="sd">
                            <p class="gelar">Liason Officer</p>
                            <p class="institusi">Wisuda Ganjil Fasilkom UI</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="skills" id="kemampuan">
            <div class="foto3">
                <img src="{% static "image/skills1.PNG" %}" class="fasilkom" alt="">
            </div>
            <div class="akudanjudul2">
                <div class="judul3"><div class="all_edu">
                    <div class="ui">
                        <img src="{% static "image/css-3.png" %}" class="skillsgambar" alt="">
                        <h2>CSS</h2>
                    </div>
                    <div class="sma">
                        <img src="{% static "image/html-5.png" %}" class="skillsgambar" alt="">
                        <h2>HTML</h2>
                    </div>
                    <div class="smp">
                        <img src="{% static "image/java.png" %}" class="skillsgambar" alt="">
                        <h2>Java</h2>
                    </div>
                    <div class="sd">
                        <img src="{% static "image/python.png" %}" class="skillsgambar" alt="">
                        <h2>Python</h2>
                    </div>
                </div></div>
                <div class="tulisanaku2">
                    Skills
                </div>
            </div>
        </section>

        </section>
    <section class="contact" id="kontak">
            <ul class="icons">
                <li><a href="https://www.instagram.com/ariasenacahya/" target="_blank"> <img src="{% static "image/instagram (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://twitter.com/ddelvo45" target="_blank"> <img src="{% static "image/twitter (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://www.linkedin.com/in/ariasena-cahya-ramadhani-98388a179/" target="_blank"> <img src="{% static "image/linkedin.png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://steamcommunity.com/id/poopfodays/" target="_blank"> <img src="{% static "image/steam(1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
            </ul>
    </section>

    <section class="footer">
            <h1>2020 Faculty of Computer Science University of Indonesia</h1>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "jscript/app.js" %}"></script>
</body>
</html>