{% extends 'home/base.html' %}
{% load static %}
{% block navigation %}
     <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:namamatkul' %}">Mata Kuliah</a></li>
                    <li class="nav7"><a href="{% url 'home:matakuliah' %}">Isi Form</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
{% endblock %}
{% block content%}
    <section class="container5">
        <header class="containerJudul">
            <h1>Detail mata kuliah yang sudah terdaftar</h1>
        </header>
        <section class="containerMatkul">
        <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
              <th scope="col">Mata Kuliah</th>
              <th scope="col">Nama Dosen</th>
              <th scope="col">Jumlah SKS</th>
              <th scope="col">Deskripsi Kuliah</th>
              <th scope="col">Tahun</th>
              <th scope="col">Kelas</th>
              <th scope="col">Hapus</th>
            </tr>
        </thead>
            {% for kuliah in all %}
                <tr>
                    <td>{{ kuliah.matkul }}</td>
                    <td>{{ kuliah.dosen }}</td>
                    <td>{{ kuliah.jumlahSks }}</td>
                    <td>{{ kuliah.deskripsi }}</td>
                    <td>{{ kuliah.tahun }}</td>
                    <td>{{ kuliah.kelas }}</td>
                    <td><a href="{% url 'home:hapusMatkul' kuliah.id %}"><button type="button"><img src="{% static "image/delete.svg" %}" class="Hapus" alt="Logo_UI"></button></a></td>
                </tr>
            {% endfor %}
        </table>
        </section>
        <section class="blankDiv">

        </section>
    </section>
{% endblock %}