{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block navigation %}
     <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:matakuliah' %}">Mata Kuliah</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
{% endblock %}
{% block content %}
    <section class="container3">
        <header class="containerJudul">
            <h1>Daftarkan Mata Kuliah di Kolom Ini</h1>
        </header>
        <section class="containerForm">
         <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
             <input type="submit" value="Submit" class="btn" />
             <button class="btnMatkul"><a href="{% url 'home:namamatkul' %}">List Matkul</a></button>
         </form>
    </section>
    </section>
{% endblock %}
