{% extends 'home/base.html' %}
{% load static %}
{% block navigation %}
     <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:namamatkul' %}">Mata Kuliah</a></li>
                    <li class="nav7"><a href="{% url 'home:matakuliah' %}">Isi Form</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
{% endblock %}

{% block content %}
    <section class="container5">
        <header class="containerJudul">
            <h1>Daftar mata kuliah yang sudah terdaftar</h1>
        </header>
        <section class="containerMatkul">
        <table class="table table-dark table-bordered table-striped">
        <thead>
            <tr>
              <th scope="col">Mata Kuliah</th>
            </tr>
        </thead>
            {% for kuliah in all %}
                <tr>
                    <td><a href="{% url 'home:listmatkul' %}">{{ kuliah.matkul }}</a></td>
                </tr>
            {% endfor %}
        </table>
        </section>
        <section class="blankDiv">

        </section>
    </section>
{% endblock %}