{% extends 'home/base.html' %}
{% load static %}
{% block navigation %}
     <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <li class="nav1"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav6"><a href="{% url 'home:matakuliah' %}">Mata Kuliah</a></li>
                </ul>
            </nav>
            <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
            </div>
{% endblock %}

{% block content %}
    <section class="container4">
         <header class="containerJudul">
            <h1>Terimakasih sudah mengisi form</h1>
             <h2>Tekan tombol dibawah ini untuk mengisi ulang</h2>
        </header>
        <section class="buttonContainer">
            <a href="{% url 'home:matakuliah' %}"><button type="button" >Kembali</button></a>
        </section>

    </section>

{% endblock %}