<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="icon" href="{% static "image/makara-ui-fasilkom.png" %}">
    <title>Perancangan dan Pemograman Web Story</title>
</head>
<body>
    <header class="navigation">
            <img src="{% static "image/makara-ui-fasilkom.png" %}" class="Logo" alt="Logo_UI">
            <nav>
                <ul class="nav_links">
                    <!-- <li><a href = "#mendarat">Home</a></li> -->
                    <li><a href = "#aku">About</a></li>
                    <li><a href = "#cv">Experiences</a></li>
                    <li><a href = "#kemampuan">Skills</a></li>
                    <li><a href="#minat">Interests</a> </li>
                    <li><a href="#kontak">Contact</a> </li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Login</button></a>
        </header>
    <section class="container">

        <section class="landing" id="mendarat">
            <!-- <img src="{% static "image/japancropped.jpg" %}" class="jepang" alt="Logo_UI"> -->
            <div class="center_text">
                Selamat Datang
            </div>
        </section>

        <section class="about" id="aku">
            <div class="judul">
                About me
            </div>
            <div class="foto">
                <img src="{% static "image/sena.jpg" %}" class="sena" alt="">
            </div>
            <div class="aku">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien ante, pharetra in lectus vitae,
                cursus laoreet lorem. Quisque a sollicitudin purus.
            </div>
            <!--<ul class="biodata">
                <li>Nama                : Ariasena Cahya Ramadhani</li>
                <li>NPM                 : 1906292925</li>
                <li>Angkatan            : Maung 2019 </li>
                <li>Hobi                : Anime, Manga </li>
                <li>Deskripsi Diri      : Saya orang yang sabar</li>
                <li>Angkatan            : Maung 2019 </li>
                <li>Tempat Kuliah       : Fasilkom UI</li>
                <li>Riwayat Pendidikan  : SMAN 99 Jakarta</li>
                <li>Media Sosial        : @ariasenacahya</li>
            </ul> -->
        </section>

        <section class="experiences" id="cv">
            <div class="judul2">
                About me
            </div>
            <div class="foto2">
                <img src="{% static "image/sena.jpg" %}" class="sena" alt="">
            </div>
            <div class="aku2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien ante, pharetra in lectus vitae,
                cursus laoreet lorem. Quisque a sollicitudin purus.
            </div>

        </section>

        <section class="skills" id="kemampuan">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien ante, pharetra in lectus vitae,
            cursus laoreet lorem. Quisque a sollicitudin purus.
        </section>

        <section class="interests" id="minat">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien ante, pharetra in lectus vitae,
            cursus laoreet lorem. Quisque a sollicitudin purus.
        </section>


    </section>


    <section class="contact" id="kontak">
            <ul class="icons">
                <li><a href="https://www.instagram.com/ariasenacahya/" target="_blank"> <img src="{% static "image/instagram (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://twitter.com/ddelvo45" target="_blank"> <img src="{% static "image/twitter (1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://www.linkedin.com/in/ariasena-cahya-ramadhani-98388a179/" target="_blank"> <img src="{% static "image/linkedin.png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
                <li><a href="https://steamcommunity.com/id/poopfodays/" target="_blank"> <img src="{% static "image/steam(1).png" %}"
                                                                                             class= "logo_kontak" alt = ""> </a> </li>
            </ul>
    </section>

    <section class="footer">
            <h1>2020 Faculty of Computer Science University of Indonesia</h1>
    </section>
</body>
</html>