@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #101820FF;
    font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav {
    background-color: #101820FF;
}

.body {
    width: 1000px
}
li, a, button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.landing {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3em;
    background-color: #101820FF;
    height: 75vh;
    align-items: center
}


.container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

.Logo {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 5px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #339966;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 107, 56, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 107, 56, 0.8);
}

.about {
    margin-top: 100px;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 500px;
}

.portfolio {
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 500px;
}

.biodata {
    color: white;
    list-style: none;
}

.foto {
    width: 200px;
    height: 200px;
    margin: 0 30px;
    overflow: hidden;
    border-radius: 50%;
}

.sena {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.sena:hover {
    filter: none;
}

.contact {
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 250px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 8px;
    background-color: black;
    padding: 5px;
}
