@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #101820FF;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #101820FF;
}
.navigation {
    background-color: #282F36;
}

.navigation nav {
    background-color: #282F36;
}

.body {
    width: 1000px
}

li, a, button {
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.landing {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3em;
    background-color: #101820FF;
    height: 75vh;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.center_text {
    background-color: transparent;
    font-size: 8vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.center_text h1 {
    font-size: 7vh;
}

.center_text h2 {
    font-size: 7vh;
}


.container1 {
    padding: 10px;
}

.Logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #282F36;
    width: 100%;
    height: 10vh;
}

.nav_links {
    list-style: none;
    background-color: transparent;
    margin-bottom: 0;
}

.nav_links li {
    display: inline-block;
    padding: 5px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #98834F;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #282F36;
    margin: 0.4vh;
    transition: all 0.3s ease;
}

.burger {
    background-color: transparent;
}

button {
    padding: 9px 25px;
    background-color: rgba(108, 79, 4, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 40px;
    width: 20vh;
    height: 6vh;
}

a:hover {
    outline: none;
    color: white;
}

button:hover {
    background-color: rgba(108, 79, 4, 0.8);
}

.about {
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 78vh;
    align-items: center;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.experiences {
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 78vh;
    align-items: center;
}

.biodata {
    color: white;
    list-style: none;
}

.akudanjudul, .akudanjudul2 {
    color: black;
    height: 220px;
    width: 1200px;
    background-color: #B8B190;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transform: translateY(13px);
    justify-content: space-between;
}


.foto2 {
    transform: translateX(-100%);
    width: 250px;
    height: 250px;
    margin: 0px 8px;
    overflow: hidden;
    border-radius: 20%;
    -webkit-box-shadow: 10px 10px #B8B190;
    position: absolute;
    z-index: 2;
}

.foto3 {
    transform: translateX(88%);
    width: 250px;
    height: 250px;
    margin: 0px 8px;
    overflow: hidden;
    border-radius: 20%;
    -webkit-box-shadow: -15px 10px #B8B190;
    position: absolute;
    z-index: 2;
}

.sena {
    width: 100%;
    transition: 0.4s all;
    opacity: 0.9;
}

.sena:hover {
    opacity: 1;
}

.fasilkom {
    width: 100%;
    transition: 0.4s all;
    opacity: 0.9;
}

.fasilkom:hover {
    opacity: 1;
}
.contact {
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 13vh;
    background-color: #282F36;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 8px;
    background-color: black;
    padding: 5px;
    text-align: center;
}

.logo_kontak {
    width: 40px;
    height: 40px;
    background-color: #282F36;
}

.icons {
    list-style: none;
    text-decoration: none;
    background-color: transparent;
}

.icons li {
    display: inline-block;
    padding: 20px;
    background-color: transparent;
}

.icons li a {
    background-color: transparent;
}

.education {
   padding: 10px;
    justify-content: center;
    display: flex;
    height: 78vh;
    align-items: center;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.experiences {
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 75vh;
    align-items: center;
    margin-top: 30px;
}

.skills {
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 78vh;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.tulisanaku {
    font-size: 3vh;
    background-color: transparent;
    color: #6C4F04;
    float: right;
    width: 700px;
    padding: 20px;
}

.pengalaman {
    font-size: 3vh;
    background-color: transparent;
    color: #6C4F04;
    float: right;
    width: 700px;
    height: 100%;
    padding-left: 20px;
}

.tulisanaku2 {
    font-size: 4vh;
    background-color: #6C4F04;
    color: white;
    float: right;
    width: 25%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.judul2 {
    display: flex;
    color: black;
    font-size: 4vh;
    width: 25%;
    height: 100%;
    background: #6C4F04;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.judul3 {
    display: flex;
    color: black;
    font-size: 4vh;
    width: 700px;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.judul2 p {
    color: white;
    font-size: 4vh;
    background-color: transparent;
}

.judul3 p {
    color: white;
    font-size: 4vh;
    background-color: transparent;
    margin-bottom: 0;
}

.all_edu {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.all_edu div {
    width: 25vh;
    height: 23vh;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #6C4F04;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.all_exp {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.all_exp div {
    width: 25vh;
    height: 23vh;
    margin-right: 50px;
    border-radius: 20px;
    background-color: #6C4F04;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.institusi {
    margin-top: 30px;
    font-weight: bold;
}

.ui p {
    font-size: 2vh;
}

.sma p {
    font-size: 2vh;
}

.smp p {
    font-size: 2vh;
}

.sd p {
    font-size: 2vh;
}


.pengalaman p {
    color: white;
    background-color: transparent;
    margin-bottom: 0;
}

.skillsgambar {
    max-width: 80%;
    max-height: 100%;
    background-color: transparent;
}

.all_edu h2 {
    color: white;
    background-color: transparent;
    font-size: 3vh;
    margin-top: 10px;
}

.footer h1 {
    font-size: 2vh;
    margin-bottom: 0;
}

/*---------------------------------------------------Interests--------------------------------------------------------*/

.container2 {
    padding: 10px;
}

.judulminat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #101820;
    color: white;
    margin-top: 20px;
}

.judulminat h3 {
    color: white;
    background-color: #101820;
    font-size: 7vh;
}


.minat1 {
    display: flex;
    color: white;
    background-color: #101820;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.minatTulisan1 p {
    color: #6C4F04;
    background-color: #B8B190;
    font-size: 3vh;
}

.minatTulisan1 {
    height: 85%;
    width: 50%;
    background-color: #B8B190;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    padding: 40px;
}

.minatgambar1 {
    display: flex;
    height: 100%;
    width: 43%;
    background-color: transparent;
}

.gaming {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3vh;
     border-style: solid;
    border-width: 10px;
    border-color: #6C4F04;
    float: right;
}

.container3 {
    padding-left: 100px;
    padding-right: 100px;
}


.containerJudul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #101820;
    color: white;
    margin-top: 20px;
    flex-direction: column;
}

.containerJudul h1 h2 {
    color: white;
    background-color: #101820;
    font-size: 7vh;

}

.containerForm {
    padding-right: 50px;
    padding-left: 50px;
}

form {
    background-color: #101820;
    margin-bottom: 100px;
}
label {
    color: white;
}

.form-group div {
    border-radius: 3vh;
}
.form-group {
    background-color: #101820;
}

.btn {
    background-color: #6C4F04;
    color: white;
}

.select option {
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    height: 73vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnMatkul {
    margin: 0;
    border-radius: .25rem;
    float: right;
    padding: .375rem .75rem;
    background-color: #B8B190;
    color: #6C4F04;
}

.btnMatkul a {
    color: #6C4F04;
}

.btnMatkul:hover {
    background-color: rgba(184, 177, 144, 0.8)
}

.container5 {
    height: fit-content;
}

ul {
    margin-bottom: 0;
}

.containerMatkul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

td button {
    margin: 0;
    width: 5em;
    height: auto;
    background-color: #ba2121;
    border-radius: 20px;
}

td button:hover {
    background-color: rgba(186, 33, 33, 0.8);
}

.Hapus {
    max-height: 100%;
    max-width: 100%;
    background-color: transparent;
}

.container6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 73vh;
}

#deleteconfirm {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-style: none;
}

#deleteconfirm:hover {
    cursor: pointer;
}

.blankDiv {
    width: 100%;
    background-color: transparent;
    height: 40vh;
}

/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1076px) {
    body {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        z-index: 3;
        height: 8vh;
    }

    .judulminat {
        margin-top: 10vh;
        text-align: center;
        padding: 10px;
    }

    .judulminat h3 {
        font-size: 6vh;
    }
    .minat1 {
        flex-direction: column;
        height: fit-content;
        padding: 20px;
    }

    .minatTulisan1 {
        text-align: center;
        width: auto;
        margin-top: 20px;
        margin-left:0;
    }

    .minatgambar1 {
        width: 40vh;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gaming {
        width: 50vh;
        height: 35vh;
    }

    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
    }

    .education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        margin-top: 30px;

    }

    .experiences {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .skills {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .akudanjudul {
        flex-direction: column;
        width: auto;
        height: fit-content;
        justify-content: center;
        text-align: center;
        border-radius: 4vh;
        padding-bottom: 30px;
    }

    .akudanjudul2 {
        flex-direction: column-reverse;
        width: auto;
        height: fit-content;
        justify-content: center;
        text-align: center;
        border-radius: 4vh;
    }

    .foto2 {
        position: relative;
        width: 35vh;
        height: 35vh;
        margin-bottom: 20px;
        transform: none;
        z-index: 0;
        -webkit-box-shadow: 0px 0px #B8B190;
        border-color: #6C4F04;
        border-style: solid;
        border-width: 15px;
    }

    .foto3 {
        position: relative;
        width: 35vh;
        height: 35vh;
        margin-bottom: 20px;
        transform: none;
        z-index: 0;
        -webkit-box-shadow: 0px 0px #B8B190;
        border-color: #6C4F04;
        border-style: solid;
        border-width: 15px;
    }


    .judul2 {
        transform: none;
        margin-top: 50px;
        height: 6vh;
        width: 25vh;
        padding: 0px;

    }

    .judul3 {
        font-size: 2.5vh;
        z-index: -1;
        margin-top: 30px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 40px;
    }

    .tulisanaku {
        font-size: 2.5vh;
        z-index: -1;
        margin-top: 30px;
        padding-right: 50px;
        padding-left: 50px
    }

    .pengalaman {
        font-size: 2.5vh;
        z-index: -1;
        margin-top: 30px;
        padding-right: 50px;
        padding-left: 50px
    }

    .tulisanaku2 {
        transform: none;
        margin-top: 50px;
        height: 6vh;
        width: 25vh;
        padding: inherit;
    }

    .burger div {
        background-color: white;
    }

    .nav_links {
        position: fixed;
        right: 0;
        background-color: #282F36;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        transform: translateX(100%);
        transition: all 1s;
        z-index: 2;
    }

    .burger {
        display: block;
    }

    .Logo {
        width: 5vh;
        height: 5vh;
    }

    .tombol1 a {
        font-size: 2vh;
    }

    li {
        font-size: 4vh;
    }
    .nav_links a {
         font-size: 4vh;
    }

    .landing {
        margin-top: 110px;
    }

    .center_text h1 {
        font-size: 5vh;
    }

    .center_text h2 {
        font-size: 5vh;
    }

    .all_edu {
        flex-flow: row wrap;
    }

    .all_exp {
        flex-flow: row wrap;
    }

    .all_exp div {
        margin: 10px;
        width: 18vh;
        height: 20vh;
        border-radius: 3vh;
    }

    .all_edu div {
        margin: 10px;
        width: 18vh;
        height: 20vh;
        border-radius: 3vh;
    }

    .skillsgambar {
        max-width: 70%;
        max-height: 100%;
    }

    .icons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .icons li {
        display: flex;
    }
    .logo_kontak {
        width: 4vh;
        height: 4vh;
        margin: 10px;
    }

    .burger div {
        width: 3vh;
        height: 0.5vh;
    }

}
.nav-active {
    transform: translateX(0%);
}